<% if params[:member].present? %>
  $("#members").append("<%= User.find_by( uname: params[:member]).uname %><br />");
  $("#members").attr("placeholder","username");
<% end %>

<% if params[:comment].present? %>
  var comment_part = "<%= j(params[:comment])%>";
  var user_part = "<%= j(session[:user_id])%>";
  var link_to_delete = "<%= j(link_to 'Delete', delete_path( :delete_type => 'comment', :id => '#{@comment.id}'), class: 'btn btn-link', remote: true) %>"
  $("#comments").append("<blockquote><p>"+ comment_part +"</p><footer>"+ user_part +"</footer><footer>"+ link_to_delete +"</footer>");
  $("#comment_box").val('');
<% end %>

<% if params[:schdate].present? %>
  $("#schedules").append("<div class='thumbnail'><%= Schedule.find_by( schname: params[:meeting_name]).schname %></div>");
  $("#newmeetingform").attr("hidden", true);
  $("#meeting_form_link").attr("hidden", false);
<% end %>
