<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Web17-08</title>
      <%= csrf_meta_tags %>
      <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
      <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
      <meta name="viewport" content="width=devise-width, initial-scale=1">
  </head>

  <body>
      <header class="container">
        <nav class="navbar navbar-default">
          <div class="container-fluid">
            <div class="navbar-header">
              <%= link_to "Calendarize", root_path, class: "navbar-brand" %>
            </div>

            <ul class="nav navbar-nav navbar-right">
              <% if !current_user %>
                <li> <%= link_to "Log in", log_in_path %></li>
              <% else %>
                <li> <%= link_to "Log out", log_out_path %></li>
              <% end %>
            </ul>
          </div>
        </nav>
      </header>

      <section class="container">
        <div id="flash">
          <% flash.each do |name, msg| %>
            <div class="flash alert <%= alert_class(name) %>"><%= msg %> </div>
          <% end %>
        </div>
        <%= yield %>
      </section>
      <div class="push"></div>
  </body>
</html>
<footer class="footer">
  <div class="container">
    <a href="http://validator.w3.org/check?uri=referer" class="btn btn-link">XHTML Validator</a>
    <%= link_to "Problem sets", "/problemsets/index", class: "btn btn-link" %>
  </div>
</footer>
